@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Dots&display=swap');

:root {
    --onyx: #0F0F0F;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    font-family: "Zen Dots";
    font-size: 28px;
    font-style: italic;
    color: var(--onyx);
    opacity: 70%;
    margin: 0;
}

.calc {
    background-color: #bfc3c4;
    border-radius: 10%;
    text-align: center;
    max-width: 450px;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    min-width: 350px;
    box-shadow: inset -2px -2px 5px var(--onyx);
}

.screen {
    box-sizing: border-box;
    background-color: #4b4a35;
    height: 73px;
    width: 90%;
    margin: 14px auto;
    border-radius: 5px;
    font-family: "Doto";
    font-weight: 800;
    padding: 15px;
    color: aliceblue;
    text-align: right;
    font-size: 36px;
    box-shadow: inset 2px 2px 8px var(--onyx) ;
    overflow: hidden;
}

.buttons {
    position: relative;

    font-family: "Quantico";
    font-size: 22px;
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [cend];
    grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr [r4] 1fr [r5] 1fr [rend];
    justify-content: center;
    box-shadow: inset 1px 1px 5px var(--onyx);
}

.button {
    background-color: #8a8b8e;
    border-radius: 14px;
    padding: 14px;
    color: antiquewhite;
    cursor: pointer;
    box-shadow: inset -5px -5px 2px -1px var(--onyx);
    transition: 200ms;
}

.button:hover {
    box-shadow: inset -5px -5px 6px -1px var(--onyx);
    transition: 200ms;
}

.button:active {
    box-shadow: inset -5px -5px 6px 1px var(--onyx);
    transition: 150ms;
}

#plus, #minus, #mult, #divide {
    grid-column: c4/ cend;
    background-color: #889157;
}

#plus {
    grid-row: r1/r2;
}

#minus {
    grid-row: r2/r3;
}

#mult {
    grid-row: r3/r4;
}

#divide, #clear {
    grid-row: r4/r5;
}

#one, #four, #seven #clear {
    grid-column: c1 / c2;
}

#two, #five, #eight, #zero {
    grid-column: c2 / c3;
}

#three, #six, #nine {
    grid-column: c3 / c4;
}

#clear {
    background-color: #703737;
}

#equals {
    background-color: #ac9144;
    grid-column: c1/c4;
}

#signed, #equals {
    grid-row: r5/rend;
}

#float {
    grid-row: r4/r5;
    grid-column: c3/c4;
}